/* *******************************************************CSS CODE********************************************************** */

/* ********Basic setup************ */
body {
    margin: 0px;
}

* {
    box-sizing: border-box;
}
/* ******************************* */


/* *************Nav Bar*********************** */
.nav_container{
    height: 1.4rem;
    border: 1px solid black;
    display: flex;
    align-items: center;

}

.fa-file-excel{
    color: blue;
    padding-left: 1rem;
}

.nav{
    margin: 1rem;
    height: 95%;
}

.nav:hover{
border: 1px solid black;
}




/* ******************************************** */



/* **********Menu Container styles************ */
.menu-container {
    height: 3rem;
    display: flex;
    align-items: center;
    /* background-color: lightblue; */
    /* display: inline; */
}

.menu-container>*{
    height:80%;
    /* border:1px solid; */
}
.nos-container{
    width:25%; 
}  
.font-size{
    width: 6%
}
.font-family{
    width: 11%;
    margin-right: 1.7rem;
}
.alignment-container{
    width:18%;
}

.color_box{
    width:10%;
} 
.formatting-container{
    width:18%;
 
}
.menu-icon{
    font-size: 130%;
    color:grey;
}
.formatting-container,.alignment-container,.nos-container,.color_box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu-active{
    color:black;
}

/* ******************************************** */



/* **************Formula Container Style*************** */

.formula_container {
    border: 1px solid black;
    background-color: rgb(181, 240, 181);
    height: 2rem;
    display: flex;
    align-items: center;
    gap:2rem;
    justify-content: center;

}
.formula_container>*
{
    height:74%;
}
.formula_bar{
    width: 74%;;
}
.address_bar{
    width:12%;
}
.seperator{
    width:3%;
}
/* ****************************************************** */



/* ***************Grid container style********************** */


.grid_container {
    /* If the screen size is decreasing or increasing => only grid conatiner change their size , not effect on any another container */
    /* grid height is equal to remaining height */
    /* calc is used to get variable length */
    height: calc( 100vh - ( 5rem + 2rem + 2.5rem + 1.4rem));
    
    /* overflow is used to stop overflow of content and add scroll bar automatically */
    overflow: auto;
    position: relative;
    
}

/* left top box style */
.top_left_block {
    background-color: lightgray;
    border: 1px solid;
    width: 2rem;
    height: 2rem;
}

.row_container {
    border: 1px solid;
    width: 2rem;
    height: 2rem;
    /* text-align: center; */
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;

}

.top_row {
    display: flex;
    position: absolute;
    top:0px;
    padding-left: 2rem;
}

.grid {
    position: absolute;
    top:2rem;
    padding-left: 2rem;

}

.left_col {

}

.col_container {
    height: 2rem;
    border: 1px solid;
    min-width: 5rem;
    /* text-align: center; */
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
    
    
}

.grid_cell {
    min-height: 2rem;
    border: 1px solid;
    min-width: 5rem;
    max-width: 5rem;
    padding-top: 0.2rem;
    
}

.row {
    display: flex;
    
}



/* *************************************************************** */


/* ****************Sheet Container style************************* */

.sheets_container {
    height: 2.5rem;
    display: flex;
}

.icon_container {
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    height: 100%;
    
}

.icon_container:hover{
    background-color: lightgray;
}

.fa-plus {
    font-size: 1.2rem;
    color: rgb(105, 105, 242)
}

.sheet_list {
    width: 95%;
    display: flex;
    height: 100%;
    overflow-x: auto;

    /* Hide scroll bar */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* To hide scroll bar of sheet list*/
.sheet_list::-webkit-scrollbar {
    display: none;
}

.sheet {
    border: 1px solid;
    height: 100%;
    min-width: 5rem;
    padding-top: 0.5rem;
    padding-left: 0.6rem;
    background-color: white;
}

.active {
    background-color: lightgrey;
    border: 2px solid black;
}

/* ****************************************************************** */





